<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Table</title>
</head>
<body>
<h1>Users Table</h1>
<h2>Users</h2>
<form th:action="@{/admin/add}" method="post">
    <label for="firstName">Name:</label>
    <input type="text" id="firstName" name="firstName" required><br>
    <label for="lastName">LastName</label>
    <input type="text" id="lastName" name="lastName" required><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <h3>Roles:</h3>
    <label for="ROLE_USER">ROLE_USER</label>
    <input type="checkbox" id="ROLE_USER" name="ROLE_USER" value="true"><br>
    <label for="ROLE_ADMIN">ROLE_ADMIN</label>
    <input type="checkbox" id="ROLE_ADMIN" name="ROLE_ADMIN" value="true"><br>

    <script>
        document.querySelector('form').addEventListener('submit', function (event) {
            const userCheckBox = document.querySelector('input[name="ROLE_USER"]').checked;
            const adminCheckBox = document.querySelector('input[name="ROLE_ADMIN"]').checked;
            if (!userCheckBox && !adminCheckBox) {
                alert('Выберите хотя-бы одну роль');
                event.preventDefault();
            }
        });
    </script>

    <button type="submit">Add</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Password</th>
        <th>Roles</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">ID</td>
        <td th:text="${user.getFirstName()}">Name</td>
        <td th:text="${user.getLastName()}">LastName</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${user.getPassword()}">Password</td>
        <td th:text="${user.getAuthorities()}">Roles</td>
        <td>
            <form th:action="@{/admin/delete/{id}(id=${user.id})}" method="post">
                <input type="hidden" name="_method" value="delete">
                <button type="submit">Delete</button>
            </form>
            <form th:action="@{/admin/edit/{id}(id=${user.id})}" method="get" style="display:inline;">
                <button type="submit">Edit</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>